[Desktop Entry]   
Name=HDMI Input Test
Comment=HDMI in (Process 800 frames)
Exec=/usr/bin/hdmi-input
Icon=video-player 
Terminal=true
Type=Application  
StartupNotify=true
Categories=GTK;AudioVideo;Audio;Player;
